<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.aadl.info/FGM" 
       class = "org.xtext.aadl2.featuregroupmapping.featureGroupMapping.FeatureGroupMappingPackage"
       genModel = "org/xtext/aadl2/featuregroupmapping/FeatureGroupMapping.genmodel" /> 
	
  </extension>




</plugin>
